<mat-toolbar color="primary">
  <button mat-icon-button (click)="sideNavOpened =! sideNavOpened">
    <mat-icon>menu</mat-icon>
  </button>
  <span appFontSize>Gestion Alumnos</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="sideNavOpened">
    <mat-list>
      <a mat-list-item appFontSize>Gestion de Alumnos</a>
      <mat-divider></mat-divider>
      <a mat-list-item appFontSize>Gestion de Profesores</a>
      <mat-divider></mat-divider>
      <a mat-list-item appFontSize>Gestion de Cursos</a>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container">
      <div class="row">
        <app-student-form></app-student-form>
      </div>
      <div class="row"><span>&#8203;</span></div>
      <div class="row">
        <app-student-management></app-student-management>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
